body
{
  color: white;
  background: #c0d3ff;
  font-family: 'Patrick Hand' ;
  font-size: 25px;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
    background-color: rgb(80, 10, 126) ;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    letter-spacing: 7px;
}
#body_background{
    background-image: url("E2E bg.png");
}
p{
    font-size: 25px !important;
}
button{
    background-color: rgb(226, 55, 89);
    font-size: 20px !important;
}